*{
    box-sizing: border-box;
    
}
body { font-family: Arial, Helvetica, sans-serif;
      background-color: black;
}
.gallery{
    border: 1px solid #000;
}
.gallery img {
    width: 100%;
    height: auto;
}
.des{
    padding: 15px;
    text-align: center;
    font-weight: 500;
    color: white;
}
.responsive{
    padding: 0 6px;
    float: left;
    width: 25%;
}
@media only screen and (max-width: 700px){
    .responsive{
        width: 50%;
        margin: 6px 0;

    }
}
@media only screen and (max-width: 500px){
    .responsive{
        width: 100%;
      
        
    }
}
h1{
    padding-top: 10px;
    font-weight: 60px;
    color:white;
}
nav {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: #000;
    height: 80px;
    width: 100%;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
    text-decoration: none;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
   text-decoration: none;
}
nav ul li a{
    color: white;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
   text-decoration: none;
}
a.active,a:hover{
    background: grey;
    transition: .5s;
   text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;

    }
}
nav ul li a{
    font-size: 16px;
}
@media screen and (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size:20px;
    }
    a:hover,a.active{
        background: none;
        color:grey;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
      form.search button {
  display: block;
  width: 20%;
  padding: 10px;
  background: #000000;
  color: white;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 70px;
  cursor: pointer;
}

form.search button:hover {
  background: grey;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
